{
	"presets": [
		[
			"@babel/preset-env",
			{
				"modules": false // 对ES6的模块文件不做转化，以便使用tree shaking、sideEffects等
			}
		]
	],
	"plugins": [
		[
			"@babel/plugin-transform-runtime",
			{
				"corejs": {
					"version": 3,
					"proposals": true
				},
				"useESModules": true
			}
		],
		[
			"@babel/plugin-proposal-decorators", // @babel/plugin-proposal-decorators需要在@babel/plugin-proposal-class-properties之前
			{
				"legacy": true // 推荐
			}
		],
		[
			"@babel/plugin-proposal-class-properties",
			{
				"loose": true // babel编译时，对class的属性采用赋值表达式，而不是Object.defineProperty（更简洁）
			}
		],
		"@babel/plugin-syntax-dynamic-import" //动态导入支持
	]
}
