:global {
	.ant-layout-sider-children {
		overflow-y: scroll;
		overflow-x: hidden;
	}

	.menu-logo {
		height: 80px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: sticky;
		background-color: #002140;
		top: 0;
		opacity: 1;
		z-index: 10;
		img {
			width: 40px;
		}
		span {
			margin-left: 10px;
			color: white;
		}
	}
}

::-webkit-scrollbar-thumb {
	background-color: #001529;
}

::-webkit-scrollbar {
	width: 2px;
	height: 8px;
}
